server:
  port: 8081
spring:
  data:
    mongodb:
      uri: ${MONGO_URI}
logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
    org.springframework.data.mongodb.repository: DEBUG